.resume-container {
  box-shadow:
    0 13px 27px -5px rgba(50, 50, 93, 0.1),
    0 8px 16px -8px rgba(0, 0, 0, 0.25);
  height: 29.7cm;
  width: 21cm;
}

.resume-section {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr;
  background-color: aqua;
}

.personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem;
}

.personal-info,
.personal-info * {
  background-color: yellowgreen;
}

.contact-info {
  display: flex;
  gap: 2rem;
}

.education-info {
  display: grid;
  grid-template-rows: auto 1fr;
}

.education-instances-container {
  display: flex;
  gap: 2rem;
}
