.edit-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2rem;
  max-width: 450px;
}

.customize-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--main-bg);
  border-radius: 0.5rem;
  box-shadow:
    0 13px 27px -5px rgba(50, 50, 93, 0.1),
    0 8px 16px -8px rgba(0, 0, 0, 0.25);
}

.customize-container button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "NotoSans-SemiBold";
  font-size: 1rem;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--main-bg);
  min-width: 120px;
  cursor: pointer;
}

.customize-container button.selected {
  background-color: var(--accent-bg);
}

.customize-container .content-btn::before {
  content: url("../assets/content.svg");
  display: inline-block;
  width: 25px;
  height: 25px;
}

.customize-container .customize-btn::before {
  content: url("../assets/customize.svg");
  display: inline-block;
  width: 25px;
  height: 25px;
}

.customize-container .print-btn::before {
  content: url("../assets/print.svg");
  display: inline-block;
  width: 25px;
  height: 25px;
}

.template-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--main-bg);
  border-radius: 0.5rem;
  box-shadow:
    0 13px 27px -5px rgba(50, 50, 93, 0.1),
    0 8px 16px -8px rgba(0, 0, 0, 0.25);
}

.template-loader button {
  font-family: "NotoSans-SemiBold";
  font-size: 0.9rem;
  border: none;
  outline: none;
  width: 50%;
  padding: 0.3rem 0.3rem;
  background-color: var(--accent-bg);
  border-radius: 0.5rem;
  cursor: pointer;
}

.template-loader button:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3vw;
  color: #dc2626;
  background: none;
}

.template-loader button:first-child::before {
  content: url("../assets/delete.svg");
  display: inline-block;
  width: 20px;
  height: 20px;
}

.personal-details {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  background-color: var(--main-bg);
  border-radius: 0.5rem;
  box-shadow:
    0 13px 27px -5px rgba(50, 50, 93, 0.1),
    0 8px 16px -8px rgba(0, 0, 0, 0.25);
  cursor: default;
}

.personal-details * {
  background-color: var(--main-bg);
}

.personal-details h2 {
  font-size: 1.5rem;
}

.personal-details label {
  font-size: 1.1rem;
}

.edEx-details {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden; /* Property to make sure child elements do not protrude beyond the container */
  background-color: var(--accent-bg);
  box-shadow:
    0 13px 27px -5px rgba(50, 50, 93, 0.1),
    0 8px 16px -8px rgba(0, 0, 0, 0.25);
}

.edEx-details * {
  background-color: var(--main-bg);
}

.edEx-details > * {
  padding: 1rem;
}

.edEx-details > button {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-family: "NotoSans-SemiBold";
}

.edEx-details > button:first-child {
  gap: 1rem;
  align-items: center;
  font-size: 1.5rem;
}

.edEx-details > button:first-child > span {
  margin-right: auto;
}

.edit-section > div:nth-child(4) > button:first-child::before {
  /* selects first instance of .edEx-details > button:first-child*/
  content: url("../assets/school.svg");
  display: inline-block;
  width: 30px;
  height: 30px;
}

.edit-section > div:nth-child(4).closed > button:first-child::after {
  /* selects first instance of .edEx-details > button:first-child*/
  content: url("../assets/chevron-down.svg");
  display: inline-block;
  width: 30px;
  height: 30px;
}

.edit-section > div:nth-child(4).open > button:first-child::after {
  /* selects first instance of .edEx-details > button:first-child*/
  content: url("../assets/chevron-up.svg");
  display: inline-block;
  width: 30px;
  height: 30px;
}

.edit-section > div:nth-child(5) > button:first-child::before {
  content: url("../assets/briefcase.svg");
  display: inline-block;
  width: 30px;
  height: 30px;
}

.edit-section > div:nth-child(5).closed > button:first-child::after {
  /* selects first instance of .edEx-details > button:first-child*/
  content: url("../assets/chevron-down.svg");
  display: inline-block;
  width: 30px;
  height: 30px;
}

.edit-section > div:nth-child(5).open > button:first-child::after {
  /* selects first instance of .edEx-details > button:first-child*/
  content: url("../assets/chevron-up.svg");
  display: inline-block;
  width: 30px;
  height: 30px;
}

.edEx-details .add-edEx-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-edEx-btn-container button {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  border: 2px solid var(--accent-bg);
  border-radius: 1rem;
  outline: none;
  font-size: 1rem;
  font-family: "NotoSans-SemiBold";
  padding: 0.5rem 0.8rem;
}

.edEx-details .edEx-instance-edit {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.edEx-instance-edit label {
  font-size: 1.1rem;
}

.edEx-instance-edit .buttons-group {
  display: flex;
  gap: 1rem;
}

.buttons-group button {
  padding: 0.5rem 0.8rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  cursor: pointer;
  color: var(--main-bg);
}

.buttons-group button:nth-child(1) {
  margin-right: auto;
  background-color: var(--delete-btn-bg);
}

.buttons-group button:nth-child(2) {
  background-color: var(--accent-bg);
  color: black;
}

.buttons-group button:nth-child(3) {
  background-color: var(--save-btn-bg);
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 1.2rem;
}

.input-group input,
.input-group textarea {
  padding: 0.5rem;
  border: 2px solid transparent;
  outline: none;
  border-radius: 0.3rem;
  background-color: var(--accent-bg);
  transition:
    border 0.25s,
    box-shadow 0.25s;
}

.input-group input:focus,
.input-group textarea:focus {
  border: 2px solid var(--border);
  box-shadow: 0px 0px 72px -25px var(--border);
}

.input-group input {
  font-size: 1rem;
}

.input-group textarea {
  resize: none;
}
